[Unit]
Description=LS-30 Container
After=docker.service
Requires=docker.service
 
[Service]
TimeoutStartSec=0
Restart=no
RestartSec=60s
Type=simple
NotifyAccess=all
ExecStart=-/usr/bin/docker-ls-30
ExecStop=/usr/bin/docker stop LS-30
 
[Install]
WantedBy=multi-user.target
